<!DOCTYPE html>
<html data-ng-app="mask4">
<head>
	<meta charset="UTF-8">
	<title>Mask4</title>
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<input mask-phone type="text" class="form-control" ng-model="contato.telefone" placeholder="Digite o telefone:"> <br>

			<input mask-cpf type="text" class="form-control" ng-model="contato.cpf"  placeholder="Digite o CPF:"> <br>

			<input mask-date type="text" class="form-control" ng-model="contato.data"  placeholder="Digite a data:">
		</div>
	</div>
	<script src="libs/angular/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>